<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>

{% include 'navbar.html' %}
<h1>

    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus eum harum nihil repellendus veritatis odit laborum earum sequi velit voluptas. Harum labore amet exercitationem. Fugit repellat iusto vero nostrum! Necessitatibus esse consectetur illo incidunt?
</h1>

</body>
</html>