<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
</head>
<body>
    {% include 'navbar.html' %}

    <h1>
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi cum impedit consectetur repellat facilis minima cupiditate, dolor ad deserunt explicabo laboriosam asperiores numquam nobis ducimus illo itaque dignissimos est mollitia dolorem eius doloremque vero.

    </h1>
</body>
</html>