<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
</head>
<body>
    {% include 'navbar.html' %}

    <h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti porro voluptatibus, libero quam possimus id, facere est hic, quisquam veritatis nulla architecto totam deserunt. Eius quos ullam perspiciatis consequuntur ducimus.
        </p>

    </h1>

    
</body>
</html>