<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Index</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">

            <style>
                table {
                  font-family: arial, sans-serif;
                  border-collapse: collapse;
                  width: 100%;
                }
                
                td, th {
                  border: 1px solid #dddddd;
                  text-align: left;
                  padding: 8px;
                }
                
                tr:nth-child(even) {
                  background-color: #dddddd;
                }
                </style>
        
    </head>
    <body>
        <h1>Hi , This is Welcome From Template  </h1>
        <table>
            <tr>
              <th>S . No. </th>
              <th>Name</th>
              <th>Age</th>
              <th> Vote </th>
            </tr>
         {% for people in peoples  %}
         <tr>
            <td> {{ forloop.counter }}</td>
            <td>{{ people.name }}</td>
            <td>{{ people.age }}</td>
            {% if people.age >= 18 %}
            <td> Yes </td>
            {% else %}
            <td>No </td>
            {% endif %}
          </tr>
         {% endfor %}
            </table>       

    </body>
</html>