{% extends 'base.html' %}

{% block title %}Employee List{% endblock %}

{% block content %}
<div class="w3-card-4 w3-padding-large">
    <h2>Employee List</h2>
    <table class="w3-table w3-striped w3-bordered w3-border">
        <thead>
            <tr class="w3-light-grey">
                <th>Name</th>
                <th>Age</th>
                <th>Salary</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.name }}</td>
                <td>{{ employee.age }}</td>
                <td>{{ employee.salary }}</td>
                <td>
                    <a href="{% url 'edit_employee' employee.id %}" class="w3-button w3-blue">Edit</a>
                    <a href="{% url 'delete_employee' employee.id %}" class="w3-button w3-red">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'create_employee' %}" class="w3-button w3-green">Add Employee</a>
</div>
{% endblock %}